*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  width: 100%;
  min-height: 100vh;

  @include respond(tab-land) {  // width < 1200?
    font-size: 56.25%;
  }

  @include respond(tab-port) { // width < 900?
    font-size: 50%;
  }
  //@include respond(big-desktop) {
  //  font-size: 75%;
  //}
}

body{
  box-sizing: border-box;
  font-family: $inter-regular;
  //max-width: $max-page-width;
  overflow-x: hidden;
  background-color: #fff;
  margin: 0 auto;
}

.full-screen {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
  margin: 0 auto;
  max-width: $max-page-width;
  position: relative;
  background: url("../../assets/images/index_bg.png") no-repeat center center fixed;
  background-size: cover;

  &--features {
    @extend .full-screen;
    //width: 100vw;
    background: url("../../assets/images/features_bg.png");
    margin-bottom: 4rem;

    @include respond(phone) {
      background-position: right;
    }
  }

}
.spacer {
  flex: 1;
  color: transparent;
}

.flex-container {
  display: flex;
  justify-content: center;
}


// make not draggable, highlightable, selectable
img {
  pointer-events: none;
  user-select: none;
}


