*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
//html, body {
//  width: 100%;
//}

html {
  font-size: 62.5%;

  @include respond(tab-land) {  // width < 1200?
    font-size: 56.25%;
  }

  @include respond(tab-port) { // width < 900?
    font-size: 50%;
  }
  @include respond(big-desktop) {
    font-size: 75%;
  }

  //@media screen and (min-width 114rem){
  //  margin: 0 5rem;
  //  padding: 30rem;
  //}
}

body{
  box-sizing: border-box;
  font-family: $avenir;
  background-color: #fff;
  max-width: 144rem;

  // sticky footer test
  //display: flex;
  //flex-direction: column;
}

@media screen and (min-width: 144rem) {
  body {
    margin: 0 auto;
  }
}
@media screen and (max-width: 145rem) {
  body {
    margin: 0 auto;
  }

}
// 1800 - 1830px screen width body has extra padding on sides and scroll on bottom appears


.body-container {
  display: grid;
}







