// Here's all of the topography

@import "/assets/fonts/font.css"

// Fonts
body
  font-family: "AvenirLTStd-Book", sans-serif

h1 a
  font-weight: 900 !important
  .first-color
    color: #12A6EA
  .second-color
    color: #85C101
  .third-color
    color: #F2D500
  .fourth-color
    color: #E22D00

a.source
  display: block
  margin: auto
  margin-top: 15px
  text-align: center
  line-height: 1.3

.lengh, .tag
  font-size: 15px

.author
  color: black
  font-size: 13px
  font-style: italic
  padding-top: 3px

.newsletter p
  text-align: center
  margin: -30px 0px 0px 0px
  padding: 3px 10px 25px 10px
  font-size: 14px

h1 a
  text-decoration: none
  color: black
  &:hover
    text-decoration: underline

footer div h3
  font-size: 12px
  color: black
  #vest-site
    text-decoration: none
    span:first-child
      color: #00b0f0
    span:last-child
      color: #2a5669
  #vest-site:visited
    color: black

footer h2
  color: #01295F
  letter-spacing: -1px
  font-size: 18px
  font-weight: 800 !important
  line-height: 1.5

h2 a
  color: #8D99AE
  &:hover
    color: grey
h3 a
  color: black

// Links
.tag
  margin: auto
  padding: 5px 7px
  text-decoration: none
  color: white

.source
  text-decoration: none
  color: grey
