@import "/assets/fonts/AvenirLTStd-Book/font.css";

// Fonts
#logo{
  font-size: 3.5rem;
  font-weight: bold;
  font-family: $avenir;
}
p#logo span:first-child{
  color: $light-blue;
}

p#logo span:last-child{
  color: $mid-blue;
}
.title{
  font-family: $avenir;
  text-align: center;
  color: $dark-blue;

  &__heading{
    font-weight: bold;
    font-size: 5rem;
  }
  &__tagline{
    font-size: 1.8rem;
  }
}


