// Here's all of the topography
@import "/assets/fonts/AvenirLTStd-Book/font.css";
@import "/assets/fonts/Montserrat-Regular/styles.css";
@import "/assets/fonts/MyriadPro-Regular/styles.css";

// @import "/assets/fonts/BerlingLTStd-Roman/styles.css"
// @import "/assets/fonts/HelveticaLTStd-Roman/styles.css"

// Fonts
#logo{
  font-size: 3.5rem;
  font-weight: bold;
  font-family: $avenir;
}


p#logo span:first-child{
  color: $light-blue;
}


p#logo span:last-child{
  color: $mid-blue;
}


.title{
  font-family: $avenir;
  text-align: center;
  color: $dark-blue;
  //width: 50vw;
  &__heading{
    font-weight: bold;
    font-size: 5rem;
    //line-height: 50px;
    //letter-spacing: -0.8px;
  }

  //width -> want to inherhit from __heading with padding before and after
  &__tagline{
    font-size: 1.8rem;
    //width: ;
  }

}








//article.rw-wrapper
//  font-family: "AvenirLTStd-Book", sans-serif
//  font-size: 16px
//  line-height: 23px
//  color: #737373
//
//
//h3
//  font-size: 100%
//  font-family: "AvenirLTStd-Book", sans-serif
//  font-size: 16px
//  line-height: 23px
//  color: #737373
//
//h2.feature
//  font-weight: 900
//  font-family: "Montserrat-Regular", sans-serif
//  line-height: 33px
//  font-size: 20px
//  letter-spacing: -0.8px
//  color: #353535
//
//
//.feature-details
//  font-family: "AvenirLTStd-Book"
//  color: #737373
//  font-size: 16px
//  line-height: 23px




//// Links
//a.description:link
//  color: #00b0f0
//  text-decoration: none
//  border-bottom: 1px solid #2a5669
//
//a.description:visited
//  color: #00b0f0
//  text-decoration: none
//  border-bottom: 1px solid #2a5669
//
//a.description:hover
//  color: #2a5669
//  text-decoration: none
//  border-bottom: 1px solid #00b0f0
//
//a.description:active
//  color: #00b0f0
//  text-decoration: none
//  border-bottom: 1px solid #2a5669
