.u-margin-bottom-small { margin-bottom: 1.5rem !important;}
.u-margin-bottom-mid { margin-bottom: 3rem !important; }
.md-mg-left { margin-left: 4rem !important;}
.sm-mg-left { margin-left: 2rem !important;}

.mg-btm-lg { margin-bottom: 15% !important;}


.u-margin-nav {
  margin: 0 auto;
}
//test
.color-white { color: #fff !important;}
.border-white { border: 2px solid #fff !important;}
.lg-logo { height: 3rem !important;}
.no-mg-btm {margin-bottom: 0 !important;}
.pg-btm { padding-bottom: 2rem !important;}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  @include respond(phone) {
    flex-direction: column;
  }
}
.flex-harbor {
  display: flex;
  align-items: flex-start;
  //position: relative;
  //z-index: 12;
}
.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include respond(phone) {
    width: 57%;
  }
}

.u-feature-width {
  width: 80%;
}

.footer-bg {
  width: 100vw !important;
  background: $blue-mid-2;
}

.col {
  //display: flex;
  //flex-direction: column;
  //width: 100%;
}

.bottom {
  position: absolute;
  bottom:0;
}

#fill-width {
  min-width: 100vw !important;
  background: $yellow;
  position: relative;
  z-index: 15;

  margin: 9% auto;
}
.section-width {
  //position: sticky !important;
  //top: 0;
  z-index: 15 !important;
  margin-bottom: -9rem !important;
  @extend .block-section;

  @include respond(l-phone){
    margin-bottom: -6rem !important;
  }
  @include respond(mid-phone){
    margin-bottom: -4rem !important;
  }
}

//.u-mg-top-neg { margin-top: -20rem !important;}
