// font variables
$helvetia: "HelveticaLTStd-Roman", sans-serif;
$avenir: "AvenirLTStd-Book", sans-serif;
$berling: "BerlingLTStd-Roman",serif;

// colors
$vesthq-first: #00b0f0;
$vesthq-second: #2a5669;
$title-text-color: #102A5E;
$card-border-color: #A6B5D0;
$card-mid-color: #FCFCFC;

//grid
$grid-width: 114rem;
$gutter-vertical: -122rem;
$gutter-horizontal: 4rem;
