// font variables
$helvetia: "HelveticaLTStd-Roman", sans-serif;
$avenir: "AvenirLTStd-Book", sans-serif;
$berling: "BerlingLTStd-Roman",serif;

// colors
$light-blue: #00b0f0;
$mid-blue: #2a5669;
$dark-blue: #102A5E;
$card-background-color: #FCFCFC;
//$card-border-color: #A6B5D0;
$bright-blue: #004BBA;
$card-mid-color: #F5F5F5;
$bright-blue-hover: #00388B;

$light-blue-grey: #d4dcea;
$cold-blue: #3F5A9E;

//grid
$grid-width: 114rem;
$gutter-vertical: 22rem;
$gutter-horizontal: -33rem;

$max-page-width: 120rem;
