// font variables
$helvetia: "HelveticaLTStd-Roman", sans-serif;
$avenir: "AvenirLTStd-Book", sans-serif;
$berling: "BerlingLTStd-Roman",serif;

$inter-light: "Inter light beta", "AvenirLTStd-Book", sans-serif;
$inter-regular: "Inter regular", "AvenirLTStd-Book", sans-serif;
$inter-bold: interbold, Inter, sans-serif;
$inter-semi-bold: "Inter semi Bold", "AvenirLTStd-Book", sans-serif;


// colors
$light-blue: #00b0f0;
$mid-blue: #2a5669;
$dark-blue: #001966;
$card-background-color: #FCFCFC;
//$card-border-color: #A6B5D0;
$bright-blue: #004BBA;
$card-mid-color: #F5F5F5;
$bright-blue-hover: #00388B;

$light-blue-grey: #d4dcea;
$cold-blue: #3F5A9E;

//grid
$grid-width: 114rem;
$gutter-vertical: 22rem;
$gutter-horizontal: -33rem;

$max-page-width: 120rem;

$yellow: #FBE050;
$yellow-light: #FEF9DA;

$blue-mid-1: #DFEBFA;
$blue-mid-2: #C5DAED;
$blue-mid-3: #5592EA;
$blue-lightest: #F5F8FC;

$grey-blue: #61728C;
$light1-blue: #F5F8FC;

$header-margin: 9rem;