.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @include respond(phone) {
    flex-direction: column;
  }


}

.card {
  font-family: $avenir;
  width: 28rem;
  background-color: $card-background-color;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(black, .15);
  border-top: 1rem solid $card-border-color;
  margin: 1rem 5rem 0 5rem;
  z-index: 1;

  justify-content: center;


  &__icon {
    width: 15rem;
    margin: 3.5rem auto;
    display: inline-block;
    transition: all .2s;

    @include respond(phone) {
      width: 10rem;
      margin: 1.5rem auto;
    }
  }

  &__mid{
    background-color: $card-mid-color;
    color: $title-text-color;
    height: 15rem;
    font-size: 1.6rem;
    line-height: 1.7;
    padding: 0 4rem;
    display: flex;
    align-items: center;

    @include respond(phone) {
      height: 12rem;
    }
  }

  &__bottom {
    height: 5rem;
    border-radius: 3px;
    font-size: 1.8rem;
    font-weight: 100;
    background-color: $card-border-color;

    width: 100%;

    &--link {
      color: #fff;
    }

    &:hover {
      background-color: $card-hover-color;

      &__icon:hover {
        background-color: $card-hover-color;
      }
    }

  }

  @include respond(tab-land) {
    width: 30rem;
  }

  @include respond(tab-port) {
    width: 27rem;
  }

  @include respond(phone) {
    width: 24rem;
  }

  @include respond(small-phone) {
    width: 20rem;
  }

}
.card a:link, a:visited {
  text-decoration: none;
}
