.card {
  font-family: $avenir;
  width: 32rem;
  background-color: $card-background-color;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(black, .15);
  border-top: 1rem solid $card-border-color;
  //margin: 0 auto;
  margin: 3rem auto -35rem auto;



  &__icon {
    width: 20rem;
    margin: 5rem auto;
    display: inline-block;
    transition: all .2s;
  }

  // center text in box!

  &__mid {
    background-color: $card-mid-color;
    color: $title-text-color;
    height: 20rem;
    font-size: 1.8rem;
    line-height: 1.7;
    padding: 0 8rem;
    display: flex;
    align-items: center;

  }

  &__bottom {
    height: 5rem;

    font-size: 1.8rem;
    background-color: $card-border-color;

    width: 100%;

    &--link {
      text-decoration: none;
      color: #fff;
    }

    &:hover {
      background-color: $card-hover-color;

      &__icon:hover {
        background-color: $card-hover-color;
      }
    }
  }

  //.card__heading {
  //
  //  &--text {
  //    color: $title-text-color;
  //    font-weight: bold;
  //    line-height: 22rem;
  //  }
  //}
}
