html, body
  background-color: #EDF2F4
  color: black
  overflow: hidden

#wrapper
  max-width: 600px
  margin: 0 auto
  overflow: hidden

// Containers Media Queries
@media screen and (max-width: 800px)
  #wrapper
    margin: 0 auto
