html, body
  height: 100%
  width: 100%
  background-color: #EDF2F4
  color: black
  overflow: hidden

#wrapper
  max-width: 600px
  margin: 15% auto 0 auto

// Containers Media Queries
@media screen and (max-width: 800px)
  #wrapper
    margin: 5% auto 0 auto
