html, body
  background-color: #EDF2F4
  // background-color: #FAFAFA

#wrapper
  max-width: 1200px


// Containers Media Queries
@media screen and (max-width: 800px)
  #wrapper
    margin: 0 auto
    padding: 7%
