.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  background-image: url("../../assets/images/footer.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  //max-height: 70vh;

  position: fixed;
  width: 100vw;
  bottom: 0;
  min-width: 80vw;

  @include respond(phone) {
    background-image: url("../../assets/images/footer_mobile.png");
  }
}