.footer {
  background-image: url("../../assets/images/footer.png");
  background-size: cover;
  background-position: bottom;
  min-height: 100vh;

  position: fixed;
  max-width: 130rem;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  //@include respond(ipad) {
  //  background-image: url("../../assets/images/footer_mobile.png");
  //  max-height: 60vh;
  //}

  @include respond(phone) {
    background-image: url("../../assets/images/footer_mobile.png");
  }
}