.row{
  ////1140px is a standard - so divide by 10 and use rem
  //max-width: $grid-width;
  //margin: 0 auto;
  ////display: flex;
  //grid-row: 3 / span 4;
  //
  //&:not(:last-child){
  //  //margin-bottom: $gutter-vertical;
  //  //margin-right: 6rem;
  //
  //}
  //
  //@include clearfix;
  //
  //
  //[class^="col-"]{
  //  //float: left;
  //  //
  //  //&:not(:last-child){
  //  //  margin-right: $gutter-horizontal;
  //  //
  //  //  @include respond(tab-port) {
  //  //    width: 26rem;
  //  //    margin-right: 0;
  //  //  }
  //  //}
  //  //
  //  //@include respond(tab-port) {
  //  //  width: 100% !important;
  //  //}
  //}
  //
  //.col-1-of-2{
  //  //width: calc((100% - #{$gutter-horizontal}) / 2);
  //  //
  //  //@include respond(phone) {
  //  //  width: calc((50% - #{$gutter-horizontal}) / 2);
  //  //}
  //}

  // span over 2 rows to go over footer
  grid-row: 3 / span 2;
  grid-column: 1 / span 2;
  z-index: 1;





  //@include respond(laptop) {
  //
  //}

}

