.header {
  font-family: $inter-bold;
  color: $dark-blue;
  text-align: center;
  background: $bg-top;
  //position: relative;
  //top: 50vh; left: 50vh;
  //transform: translate(-50%, -50%);
  margin: calc(50vh - 80px) auto calc(50vh - 80px) auto;
  //min-width: 100vw;

  &__primary {
    font-size: 5.5rem;
    font-weight: 900;
    letter-spacing: 1px;
    padding: 0 1rem;

    @include respond(tab-port) {
      font-size: 3.8rem;
    }
    @include respond(l-phone) {
      font-size: 3.2rem;
    }
    @include respond(phone) {
      font-size: 3rem;
    }
    @include respond(m-phone) {
      font-size: 2.8rem;
    }
  }

  &__secondary {
    font-family: $inter-light;
    font-size: 3rem;
    //margin: 0 1rem;

    @include respond(tab-port) {
      font-size: 2.6rem;
    }
    @include respond(phone) {
      font-size: 2.2rem;
    }
    @include respond(m-phone) {
      font-size: 2rem;
    }

    &--feature {
      width: 95%;
      margin: 0 auto;
      line-height: 1.7;
      letter-spacing: 1px;

      @media screen and (min-width: 1340px) {
        width: 80%;
      }
    }
  }
}

.header-retirement {
  font-family: $inter-semi-bold;
  color: $dark-blue;
  font-size: 3.6rem;
  margin: 5rem 0 0 $text-margin-left;

  padding: 4rem 2rem 4rem 0;
  display: inline-block;
  background-image: linear-gradient(to bottom, $bg-color 69%, rgba($bg-color, .2));
  position: sticky;
  top: 0;
  z-index: 12;

  //width: 55%;

  @include respond(tab-port) {
    font-size: 3.3rem;
  }
  @include respond(l-phone) {
    font-size: 2.7rem;
  }
  @include respond(phone) {
    font-size: 2.4rem;
    margin-left: 3rem;
    //width: 55%;
  }
  @include respond(nav) {
    width:auto;
    font-size: 2rem;
    margin-left: 2.5rem;
    padding: 4rem 2rem 4rem 0;
  }
  @include respond(m-phone) {
    width: 55%;
  }
}

.header-harbor {
  @extend .block-section__text--yellow;
  @extend .block-content;
  font-family: $inter-semi-bold;
  color: $dark-blue;
  font-size: 3.6rem;
  margin-bottom: 2rem;
  line-height: 1.3;

  @include respond(phone) {
    font-size: 2.5rem;
  }
  @include respond(mid-phone) {
    font-size: 2.2rem;
  }
}
