.header {
  margin: 3rem auto;
  color: $title-text-color;

  grid-row: 2 / span 1;
  grid-column: 1 / span 2;



  @include respond(tab-port) {
    margin: 0 auto;
  }

  & > * {
    width: 50%;
    margin-left: 25%;


    @include respond(large-phone) {
      width: 76%;
      margin-left: 9%;
    }

    @include respond(phone) {
      width: 86%;
      margin-left: 6%;
    }
    @include respond(mid-phone) {
      width: 83%;
    }
  }

  &__text-box {
    text-align: center;
  }

  &__primary {
    font-family: $avenir;
    display: inline-block;
    font-size: 5.5rem;
    text-shadow: 2px 1px 1px $title-text-color;
    font-weight: 900;
    margin-bottom: 2.6rem;

    @include respond(tab-port) {
      font-size: 5rem;
      width: 80%;
    }
    @include respond(phone) {
      font-size: 4rem;
      width: 80%;
    }

  }

  &__secondary {
    font-weight: 400;
    font-size: 2.2rem;
    margin-bottom: 2.6rem;
    text-align: center;
  }

  &__input-box {
    display: flex;
    justify-content: center;
  }

  &__input {
    width: 30rem;
    height: 5rem;
    font-size: 1.8rem;
    margin-left: 5rem;
    border-radius: .3rem;
    border-color: #979797;
    border-style: solid;


    @include respond(tab-port){
      width: 20rem;

    }

    @include respond(small-phone){
      width: 15rem;
      margin-left: 5px;
    }
  }

  &__btn {
    margin-left: 3.6rem;
    font-size: 2rem;
    border-radius: .3rem;
    background-color: #0453AE;
    color: white;
    font-family: $avenir;
    height: 5rem;
    width: 15rem;

    @include respond(small-phone){
      width: 12rem;
      margin-left: 2rem;
    }

    &:hover {
      background-color: $title-text-color;
    }
  }
}








