.header {
  font-family: $inter-bold;
  color: $dark-blue;
  text-align: center;
  //position: relative;
  //top: 50vh; left: 50vh;
  //transform: translate(-50%, -50%);
  margin: calc(50vh - 80px) auto calc(50vh - 80px) auto;
  //min-width: 100vw;

  &__primary {
    font-size: 4.2rem;
    font-weight: 900;
    letter-spacing: 1px;
    padding: 0 1rem;

    @include respond(tab-port) {
      font-size: 3.8rem;
    }
    @include respond(l-phone) {
      font-size: 3.2rem;
    }
    @include respond(phone) {
      font-size: 3rem;
    }
    @include respond(m-phone) {
      font-size: 2.8rem;
    }
  }

  &__secondary {
    font-family: $inter-light;
    font-size: 2.8rem;
    //margin: 0 1rem;

    @include respond(tab-port) {
      font-size: 2.6rem;
    }
    @include respond(phone) {
      font-size: 2.2rem;
    }
    @include respond(m-phone) {
      font-size: 2rem;
    }

    &--feature {
      width: 95%;
      margin: 0 auto;
    }
  }
}

.header-tertiary {
  font-family: $inter-semi-bold;
  color: $dark-blue;
  font-size: 3.6rem;
  margin: 5rem 0 0 $text-margin-left;

  padding: 4rem 6rem 4rem 0;
  display: inline-block;
  background-image: linear-gradient(to bottom, #fff 69%, rgba(#fff, .2));
  position: sticky;
  top: 0;
  z-index: 12;

  @include respond(tab-port) {
    font-size: 3rem;
  }
  @include respond(l-phone) {
    font-size: 2.7rem;
  }
  @include respond(phone) {
    display: block;
    width:100%;
  }
}

.header-harbor {
  //width: 45%;
  font-family: $inter-semi-bold;
  color: $dark-blue;
  font-size: 3.6rem;
  margin-left: 10%;
  margin-bottom: 2rem;
  line-height: 1.3;

  @include respond(phone) {
    font-size: 2.5rem;
    margin-left: 4.5rem;
  }
  @include respond(mid-phone) {
    font-size: 2.2rem;
    margin-left: 4rem;
  }
  @include respond(m-phone) {
    margin-left: 3.3rem;
  }
}
