.header {
  margin-top: $header-margin;
  font-family: $inter-bold;
  color: $dark-blue;
  text-align: center;
  position: relative;

  @include center;

  &__primary {
    font-size: 4.4rem;
    font-weight: 900;
    letter-spacing: 1px;
    margin: 33vh auto 10vh auto;

    @include respond(tab-port) {
      margin: 25vh auto 6vh auto;
      font-size: 4rem;
    }
    @include respond(l-phone) {
      font-size: 3.5rem;
    }
    @include respond(phone) {
      font-size: 3rem;
    }
    @include respond(m-phone) {
      margin: 16vh auto 4vh auto;
      font-size: 2.8rem;
    }
  }

  &__secondary {
    font-family: $inter-light;
    font-weight: 300;
    font-size: 3.4rem;

    @include respond(tab-port) {
      font-size: 2.8rem;
    }
    @include respond(phone) {
      font-size: 2.2rem;
    }
    @include respond(m-phone) {
      font-size: 2rem;
    }
  }
}

.header-tertiary {
  font-family: $inter-bold;
  color: $dark-blue;
  font-weight: 900;
  font-size: 3.5rem;
  margin: 5rem 0 5rem 10%;

  padding: 4rem 0;
  width: 45%;
  background-image: linear-gradient(to bottom, #fff 69%, transparent);
  position: sticky;
  top: 0;
  z-index: 5;

  @include respond(tab-port) {
    font-size: 3rem;
  }
  @include respond(l-phone) {
    font-size: 2.7rem;
  }
}


