.header {
  // height here cuts the top of bottom image if screen squeezed
  // which is okay but do media if short screen height then do white text
  height: 30vh;


  &__text-box {
    // reference to position: relative; in nav-box in title.scss
    position: absolute;
    top: 10%;
    left: 30%;
    z-index: 100;
  }

  &__input {
    width: 30rem;
    //padding: 1.5rem 2rem;
    height: 5rem;
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-left: 5rem;
    border-radius: .3rem;
    border-color: #979797;
    border-style: solid;
  }

  &__btn {
    margin-left: 3.6rem;
    font-size: 2rem;
    border-radius: .3rem;
    background-color: #0453AE;
    color: white;
    font-family: $avenir;
    height: 5rem;
    width: 15rem;

    &:hover {
      background-color: $title-text-color;
    }
  }
}

.heading-primary {
  color: $title-text-color;
  font-family: $avenir;


  &--main {
    display: block;
    font-size: 5.5rem;
    text-shadow: .2rem .1rem .1rem $title-text-color;
    font-weight: 900;
    margin-bottom: 2.6rem;

  }

  &--sub {
    display: block;
    font-size: 1.8rem;
    text-align: center;
    margin-left: 2rem;
    margin-bottom: 2.6rem;
    width: 60%;
  }
}