.explore {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;


  &__text {
    font-family: $inter-regular;
    color: #000;
    font-size: 1.6rem;
    margin-bottom: 6rem;
    transform: rotate(90deg);
  }
  &__icon {
    width: 3.5rem;
    height: auto;
    align-self: center;
    //margin-top: 4rem;
  }
}