.explore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  &__text {
    font-family: $inter-regular;
    color: #000;
    font-size: 1.2rem;
    transform: rotate(90deg);
  }
  &__icon {
    width: 3.5rem;
    height: auto;
    margin-top: 5rem;
  }
}