.employees-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 4rem;

  @include respond(l-phone) {
    justify-content: space-evenly;
  }
}
// avatar -> container for img and text
.avatar {
  display: flex;
  flex-direction: column;
  //align-items: center;
  margin: 0 2rem;

  &__img {
    width: auto;
    margin: 0 2rem 1rem 0;

    height: 20rem;

    @include respond(l-phone) {
      height: 15rem;
    }
    @include respond(small-phone) {
      height: 12rem;
    }
  }

  &__content {
    margin-bottom: 5rem;
    text-align: center;

    &--1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      //align-items: center;
      margin-right: 3rem;

      shape-outside: circle(50%);
    }
    &--2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 2rem;
    }

    a {
      font-size: 2rem;
      font-weight: 600;
      text-decoration: none;
      color: $dark-blue;

      &:hover {
        color: $bright-blue;
      }
    }
    p {
      font-size: 1.4rem;
      transform: translateX(-4px);
    }
    // slack status circle
    i {
      font-size: 1.3rem;
      margin: .4rem;
      transform: translateY(-3px);
    }
  }
}

.online {
  font-size: 1.3rem;
  font-style: italic;
}
