.nav{
  font-family: 'Avenir Roman', $avenir;
  margin: 3.5rem 2rem 2rem 2rem;
  display: flex;
  justify-content: space-between;

  &__logo {
    //width: 8rem;
    height: 2.5rem;

    //grid-row: 1 / span 1;
    //grid-column: 1 / span 1;

    @include respond(phone) {
      height: 2rem;
    }

  }

  &__contact {
    color: $dark-blue;
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;


    //grid-row: 1 / span 1;
    //grid-column: 2 / span 1;

    @include respond(phone) {
      font-size: 1.6rem;
    }
  }

}

.shadow-line {
    @include respond(phone) {
      box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .15);
    }
}
