.nav-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
  bottom: 15rem;
  grid-row: 1;
  grid-column: 1;
}

.nav{
  position: relative;

  &__logo {
    width: 9rem;
  }

  &__contact {
    float: right;
    //margin-left: 90%;
    color: $title-text-color;
    font-size: 2.5rem;
    font-weight: 600;
    margin-right: 5rem;

    @include respond(tab-port){
      margin-right: 5rem;
    }

    @include respond(small-phone){
      margin-right: 6rem;
    }
  }
}
