.nav{
  font-family: $avenir;
  margin: 0 2rem 2rem 2rem;
  padding-top: 3.5rem;
  display: flex;
  //justify-content: space-between;
  //align-content: center;
  align-items: center;
  max-width: $max-page-width;

  & > * {
    margin: 0 2rem;
  }

  &__link {
    margin-right: auto;
  }

  &__item {
    font-family: $avenir;
    color: $dark-blue;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2.2rem;
    text-decoration: none;

    padding: 1rem 1.5rem;

    &:hover,
    &:focus,
    &:active,
    &--active {
      background: $yellow;
    }
  }

  &__logo {
    height: 4.4rem;
    width: auto;

    @include respond(phone) {
      height: 2rem;
    }
  }
}














