<!--<div class="block-wrapper">-->
    <div class="section-width">
        <h3 class="header-retirement" id="retirementText">Retirement is changing for:</h3>
    </div>

    <section class="block-section" data-aos="fade-up">
        <div class="block-content">
            <h2 class="block-section__text highlight highlight--1">People</h2>
            <h3 class="block-section__text">
                We're unlocking the power of saving for millions who rely on 401(k) plans.
            </h3>
        </div>

        <img src="{{ site.baseurl }}/assets/images/blocks/block-1.png" alt="block" class="block block--1">
    </section>

    <section class="block-section" data-aos="fade-up">
        <div class="block-content">
            <h2 class="block-section__text highlight highlight--2">Employers</h2>
            <h3 class="block-section__text">
                We take care of managing the dynamic administration of plans.
            </h3>
        </div>

        <img src="{{ site.baseurl }}/assets/images/blocks/2-blocks.png" alt="block stacking"
             class="block block--2" data-aos="fade-up">
    </section>

    <div class="block-section" data-aos="fade-up">
        <div class="block-content">
            <h2 class="block-section__text highlight highlight--3">Providers</h2>
            <h3 class="block-section__text">
                We focus on discovering new, smarter ways to leverage technology.
            </h3>
        </div>

        <img src="{{ site.baseurl }}/assets/images/blocks/3-blocks.png" alt="block stacking" class="block block--3">
    </div>

<!--</div>-->


<div id="fill-width" data-aos="fade-up">
    <section class="block-section--yellow sticky">
        <div class="col">
            <h4 class="header-harbor">Harbor connects us all...</h4>
            <div class="block-content">
                <h3 class="block-section__text block-section__text--yellow">Our platform has the power to seamlessly
                    integrate the users' experience with the data of each retirement plan. The result is a new mobile experience with higher
                    participation, savings, and referral rates.</h3>
            </div>
        </div>

        <img src="{{ site.baseurl }}/assets/images/blocks/4-blocks.png" alt="a stack of blocks"
             class="block block--4 sticky" data-aos="zoom-in">
    </section>
</div>

