<div class="block-wrapper">
    <h3 class="header-tertiary">Retirement is changing...</h3>

    <section class="block-section sticky" style="z-index: 10;">
        <div class="block-content">
            <h3 class="block-section__text">... for millions of <span class="highlight highlight--1">people</span> relying on 401(k) plans, we're unlocking the power of saving.</h3>
        </div>

        <img src="{{ site.baseurl }}/assets/images/blocks/block-1.png" alt="" class="block block--1 sticky" data-aos="fade-up">
    </section>

    <section class="block-section sticky" style="z-index: 9;">
        <div class="block-content">
            <h3 class="block-section__text">... for <span class="highlight highlight--2">employers</span>, managing the dynamic administration of plans can be a hassle.</h3>
        </div>

        <div class="sticky">
            <img src="{{ site.baseurl }}/assets/images/blocks/block-2.png" alt="" class="block block--2 sticky" data-aos="fade-up">
        </div>
    </section>

    <section class="block-section sticky" style="z-index: 8;">
        <div class="block-content">
            <h3 class="block-section__text">... for <span class="highlight highlight--3">providers</span>, discovering new, smarter ways to leverage technology is a priority.</h3>
        </div>

        <img src="{{ site.baseurl }}/assets/images/blocks/block-3.png" alt="" class="block block--3 sticky" data-aos="fade-up">
    </section>

    <section class="block-section--yellow sticky">
        <h4 class="header-harbor">Harbor connects us all together...</h4>

        <div class="flex-harbor">
            <div class="block-content" style="z-index: 7;">
               <h3 class="block-section__text block-section__text--yellow">Our platform has the power to seamlessly integrate the users' experience with the plan's data. The result is a new experience with higher participation, savings, and referral rates.</h3>
            </div>

            <img src="{{ site.baseurl }}/assets/images/blocks/block-harbor.png" alt="" class="block block--4 sticky" data-aos="zoom-in" data-aos-offset="600">
        </div>
    </section>
</div>
