<div class="block-wrapper">
    <div class="section-width">
        <h3 class="header-retirement" id="retirementText">Retirement is changing...</h3>
    </div>

    <section class="block-section">
        <div class="block-content">
            <h3 class="block-section__text">... for millions of <mark class="highlight highlight--1">people</mark> relying on 401(k) plans, we're unlocking the power of saving.</h3>
        </div>

        <img src="{{ site.baseurl }}/assets/images/blocks/block-1.png" alt="" class="block block--1" data-aos="fade-up">
    </section>

    <section class="block-section">
        <div class="block-content">
            <h3 class="block-section__text">... for <mark class="highlight highlight--2">employers</mark>, managing the dynamic administration of plans can be a hassle.</h3>
        </div>

            <img src="{{ site.baseurl }}/assets/images/blocks/2-blocks.png" alt="" class="block block--2 sticky" data-aos="fade-up">
    </section>
</div>

    <section class="block-section">
        <div class="block-content" id="previousTextUnstick">
            <h3 class="block-section__text">... for <mark class="highlight highlight--3">providers</mark>, discovering new, smarter ways to leverage technology is a priority.</h3>
        </div>

        <img src="{{ site.baseurl }}/assets/images/blocks/3-blocks.png" alt="" class="block block--3" data-aos="fade-up">
    </section>


    <div id="fill-width">
        <section class="block-section--yellow" style="position: sticky; top: 0;">
            <div class="col">
                <h4 class="header-harbor">Harbor connects us all together...</h4>
                <div class="block-content">
                    <h3 class="block-section__text block-section__text--yellow">Our platform has the power to seamlessly integrate the users' experience with the plan's data. The result is a new experience with higher participation, savings, and referral rates.</h3>
                </div>
            </div>

            <img src="{{ site.baseurl }}/assets/images/blocks/4-blocks.png" alt="" class="block block--4 sticky" data-aos="zoom-in" >
        </section>
    </div>


