<!--<section class="footer">-->
    <!--having footer wraped around this section causes footer not be at absolute bottom-->

    <!--<div class="row">-->
        <!--<div class="col-1-of-2">-->
            <!--<a href="#" >-->
                <!--<div class="card card&#45;&#45;1">-->
                    <!--<h1 class="card__heading">-->
                        <!--<img src="../assets/images/logo_boat_text.png" alt="Harbor" class="card__icon">-->
                    <!--</h1>-->
                    <!--<h2 class="card__mid">-->
                        <!--Full-service 401(k) for small companies-->
                    <!--</h2>-->
                    <!--<button class="card__bottom">-->
                        <!--<p class="card__bottom&#45;&#45;link">Learn more</p>-->
                    <!--</button>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->

        <!--<div class="col-1-of-2">-->
            <!--<a href="#" >-->
                <!--<div class="card card&#45;&#45;2">-->
                    <!--<h1 class="card__heading">-->
                        <!--<img src="../assets/images/logo_anchor_text.png" alt="Anchor" class="card__icon">-->
                    <!--</h1>-->
                    <!--<h2 class="card__mid">-->
                        <!--Demystifying fiduciary responsibilities-->
                    <!--</h2>-->

                    <!--<button class="card__bottom">-->
                        <!--<p class="card__bottom&#45;&#45;link">Learn more</p>-->
                    <!--</button>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->

<!--</section>-->

<div class="row">

    <div class="card card--1">
        <a href="#" >
            <h1 class="card__heading">
                <img src="../assets/images/logo_boat_text.png" alt="Harbor" class="card__icon">
            </h1>
            <h2 class="card__mid">
                Full-service 401(k) for small companies
            </h2>
            <button class="card__bottom">
                <p class="card__bottom--link">Learn more</p>
            </button>
        </a>
    </div>



    <div class="card card--2">
        <a href="#" >
            <h1 class="card__heading">
                <img src="../assets/images/logo_anchor_text.png" alt="Anchor" class="card__icon">
            </h1>
            <h2 class="card__mid">
                Demystifying fiduciary responsibilities
            </h2>
            <button class="card__bottom">
                <p class="card__bottom--link">Learn more</p>
            </button>
        </a>
    </div>

</div>

