
<div class="card">
    <div class="card--1">
        <a href="http://harborhq.com" >
            <h1 class="card__heading">
                <img src="../assets/images/harbor_logo.png" alt="Harbor" class="card__icon">
            </h1>
            <h2 class="card__mid">
                Full-service 401(k) for small companies
            </h2>
            <p class="card__bottom">Learn more</p>
        </a>
    </div>
</div>

<div class="card2">
    <div class="card2__side card2__side--front card--2">
        <a href="#" >
            <h1 class="card__heading">
                <img src="../assets/images/anchor_logo.svg" alt="Anchor" class="card__icon">
            </h1>
            <h2 class="card__mid">
                Demystifying fiduciary responsibilities
            </h2>
            <p class="card__bottom">Coming soon</p>
        </a>
    </div>

    <div class="card2__side card2__side--back">
        <p class="card2__text">Fiduciary regulations are complicated. We help you navigate through the maze by explaining: <br> What is a fiduciary? <br> How can fiduciary responsibilities be met and liabilities avoided? <br> Do the services help companies and protect employees?</p>
    </div>
</div>




