<section class="main">

    <div class="row">
        <div class="col-1-of-2">
            <div class="card">
                <h1 class="card__heading">
                    <img src="../assets/images/logo_boat_text.png" alt="Harbor" class="card__icon">
                </h1>
                <h2 class="card__mid">
                    Full-service 401(k) for small companies
                </h2>
                <a class="card__bottom" href="#">
                    <p>Learn more</p>
                </a>
            </div>

            <div class="col-1-of-2">
                <div class="card">
                    <h1 class="card__heading">
                        <img src="../assets/images/logo_anchor_text.png" alt="Harbor" class="card__icon">
                    </h1>
                    <h2 class="card__mid">
                        Demystifying fiduciary responsibilities
                    </h2>
                    <a class="card__bottom" href="#">
                        <p>Learn more</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

