<!-- description -->
<section id="description">
  <h1>
    <span>Vest</span><span>HQ</span>
  </h1>
  <article class="rw-wrapper">
    <h2 class="rw-sentence">
      <span>We are a fintech lab.</span>
    	<span>Our experiments are built to</span>
    	<div class="rw-words rw-words-1">
    		<span>empower.</span>
    		<span>excite.</span>
    		<span>scale.</span>
    		<span>educate.</span>
    		<span>use.</span>
    		<span>enjoy.</span>
    	</div>
    </h2>
  </article>
  <h2>
    <!-- <span>Latest projects include <a class="description" href="http://www.fintechtogo.com" target="_blank">Fintech to Go</a>.</span> -->
    <span>Right now we're building Foresight, the most accessible 401k plan.</span>
  </h2>
</section>
