<section class="employees-container">
    <div class="employees">
        <img src="../assets/images/employees/anuraag.png" alt="Anuraag CEO" class="employees__img">
        <div class="text-box">
            <a href="http://atripathi.com/" target="_blank"><h3>Anuraag</h3></a>
            <p>CEO</p>
        </div>
    </div>

    <div class="employees">
        <img src="../assets/images/employees/rick.png" alt="Rick Legal" class="employees__img">
        <div class="text-box">
            <a href="https://www.linkedin.com/in/rick-f-yeh/" target="_blank"><h3>Rick</h3></a>
            <p>Legal</p>
        </div>
    </div>

    <div class="employees">
        <img src="../assets/images/employees/gianni.png" alt="Gianni Developer" class="employees__img">
        <div class="text-box">
            <a href="https://www.linkedin.com/in/gianni-chen-33b13646/" target="_blank"><h3>Gianni</h3></a>
            <p>Developer</p>
        </div>
    </div>

    <div class="employees">
        <img src="../assets/images/employees/sierra.png" alt="Sierra Developer" class="employees__img">
        <div class="text-box">
            <a href="https://sierramoore.com/" target="_blank"><h3>Sierra</h3></a>
            <p>Developer</p>
        </div>
    </div>

    <div class="employees">
        <img src="../assets/images/employees/pranay.png" alt="Pranay Developer" class="employees__img">
        <div class="text-box">
            <a href="https://github.com/pranaymarella/" target="_blank"><h3>Pranay</h3></a>
            <p>Developer</p>
        </div>
    </div>

    <div class="employees">
        <img src="../assets/images/employees/philip.png" alt="Philip Developer" class="employees__img">
        <div class="text-box">
            <a href="https://github.com/phil7394" target="_blank"><h3>Philip</h3></a>
            <p>Developer</p>
        </div>
    </div>

    <div class="employees">
        <img src="../assets/images/employees/betsy.png" alt="Betsy Design" class="employees__img">
        <div class="text-box">
            <a href="https://www.elizabethchou.com/" target="_blank"><h3>Betsy</h3></a>
            <p>Design</p>
        </div>
    </div>

    <div class="employees">
        <img src="../assets/images/employees/nanjin.png" alt="Nanjin Design" class="employees__img">
        <div class="text-box">
            <a href="https://www.nanjinli.com/" target="_blank"><h3>Nanjin</h3></a>
            <p>Design</p>
        </div>
    </div>

    <div class="employees">
        <img src="../assets/images/employees/nirali.png" alt="Nirali Marketing" class="employees__img">
        <div class="text-box">
            <a href="https://www.linkedin.com/in/nirali-chauhan-08b05231/" target="_blank"><h3>Nirali</h3></a>
            <p>Marketing</p>
        </div>
    </div>

    <div class="employees">
        <img src="../assets/images/employees/deblina.png" alt="Deblina Finance" class="employees__img">
        <div class="text-box">
            <a href="https://www.linkedin.com/in/deblina-mukherjee-208179149/" target="_blank"><h3>Deblina</h3></a>
            <p>Finance</p>
        </div>
    </div>
</section>