<section class="employees-container">
    <div class="employees">
        <img src="../assets/images/employees/anuraag.jpg" alt="Anuraag CEO" class="employees__img">
        <div class="text-box">
            <i id="U2LBEUZC3" class="fas fa-dot-circle"></i>
            <a href="http://atripathi.com/" target="_blank"><h3>Anuraag</h3></a>
            <p>CEO</p>
        </div>
    </div>

    <div class="employees">
        <img src="../assets/images/employees/rick.jpg" alt="Rick Legal" class="employees__img">
        <div class="text-box">
            <i id="U7B7X86AF" class="fas fa-dot-circle"></i>
            <a href="https://www.linkedin.com/in/rick-f-yeh/" target="_blank"><h3>Rick</h3></a>
            <p>Legal</p>
        </div>
    </div>

    <div class="employees">
        <img src="../assets/images/employees/gianni.jpg" alt="Gianni Developer" class="employees__img">
        <div class="text-box">
            <i id="U5LA2KATX" class="fas fa-dot-circle"></i>
            <a href="https://www.linkedin.com/in/gianni-chen-33b13646/" target="_blank"><h3>Gianni</h3></a>
            <p>Developer</p>
        </div>
    </div>

    <div class="employees">
        <img src="../assets/images/employees/sierra.jpg" alt="Sierra Developer" class="employees__img">
        <div class="text-box">
            <i id="UAKEWKP9A" class="fas fa-dot-circle"></i>
            <a href="https://sierramoore.com/" target="_blank"><h3>Sierra</h3></a>
            <p>Developer</p>
        </div>
    </div>

    <div class="employees">
        <img src="../assets/images/employees/pranay.jpg" alt="Pranay Developer" class="employees__img">
        <div class="text-box">
            <i id="UB3UNC4TB" class="fas fa-dot-circle"></i>
            <a href="https://github.com/pranaymarella/" target="_blank"><h3>Pranay</h3></a>
            <p>Developer</p>
        </div>
    </div>

    <div class="employees">
        <img src="../assets/images/employees/philip.jpg" alt="Philip Developer" class="employees__img">
        <div class="text-box">
            <i id="UASE60N5R" class="fas fa-dot-circle"></i>
            <a href="https://github.com/phil7394" target="_blank"><h3>Philip</h3></a>
            <p>Developer</p>
        </div>
    </div>
</section>