<section class="employees-container">
    <div class="employees">
        <img src="../assets/images/employees/anuraag.png" alt="Anuraag CEO" class="employees__img">
        <div class="text-box">
            <h3>Anuraag</h3>
            <p>CEO</p>
        </div>
    </div>

    <div class="employees">
        <img src="../assets/images/employees/rick.png" alt="Rick Legal" class="employees__img">
        <div class="text-box">
            <h3>Rick</h3>
            <p>Legal</p>
        </div>
    </div>

    <div class="employees">
        <img src="../assets/images/employees/gianni.png" alt="Gianni Developer" class="employees__img">
        <div class="text-box">
            <h3>Gianni</h3>
            <p>Developer</p>
        </div>
    </div>

    <div class="employees">
        <img src="../assets/images/employees/sierra.png" alt="Sierra Developer" class="employees__img">
        <div class="text-box">
            <h3>Sierra</h3>
            <p>Developer</p>
        </div>
    </div>

    <div class="employees">
        <img src="../assets/images/employees/pranay.png" alt="Pranay Developer" class="employees__img">
        <div class="text-box">
            <h3>Pranay</h3>
            <p>Developer</p>
        </div>
    </div>

    <div class="employees">
        <img src="../assets/images/employees/philip.png" alt="Philip Developer" class="employees__img">
        <div class="text-box">
            <h3>Philip</h3>
            <p>Developer</p>
        </div>
    </div>

    <div class="employees">
        <img src="../assets/images/employees/betsy.png" alt="Betsy Design" class="employees__img">
        <div class="text-box">
            <h3>Betsy</h3>
            <p>Design</p>
        </div>
    </div>

    <div class="employees">
        <img src="../assets/images/employees/nanjin.png" alt="Nanjin Design" class="employees__img">
        <div class="text-box">
            <h3>Nanjin</h3>
            <p>Design</p>
        </div>
    </div>
</section>