<section class="feature flex">
    <div class="flex-col">
        <h3 class="feature__title">
            <span class="feature__title--small">01 &nbsp; &#9472;</span><br>
            Completely Mobile <br>
            Experience
        </h3>

        <p class="feature__text">
            Meet Henry, your virtual financial assistant </p>
        <ul class="feature__ul">
            <li>Fastest onboarding</li>
            <li>Seamless employee communication</li>
            <li>On-demand advice</li>
        </ul>
    </div>

    <img src="{{ site.baseurl }}/assets/images/feature_1.svg" alt="mobile app" class="feature__img feature__img--1">
</section>

<section class="feature flex">
    <img src="{{ site.baseurl }}/assets/images/feature_2.png" alt="inclusive checklist" class="feature__img feature__img--2">

    <div class="flex-col">
        <h3 class="feature__title">
            <span class="feature__title--small">02 &nbsp; &#9472;</span><br>
            Behavioral <br>
            Research
        </h3>

        <p class="feature__text">
            Based in Nobel prize winning <br> behavioral economics </p>

        <ul class="feature__ul">
            <li>Higher participation</li>
            <li>Higher savings rates</li>
            <li>Lower withdrawal amounts</li>
        </ul>
    </div>
</section>

<section class="feature flex">
    <div class="flex-col">
        <h3 class="feature__title">
            <span class="feature__title--small">03 &nbsp; &#9472;</span><br>
            Smart <br>
            Workflows
        </h3>

        <p class="feature__text">
            Accuracy leads to less administration</p>

        <ul class="feature__ul">
            <li>Census management</li>
            <li>Eligibility verification</li>
            <li>Easy plan testing</li>
            <li>Payroll review</li>
        </ul>
    </div>
    <img src="{{ site.baseurl }}/assets/images/feature_3.png" alt="harbor connects rules to a record keeping system" class="feature__img feature__img--3">
</section>
