<main class="header full-screen--features u-feature-width">
    <h1 class="header__primary">Harbor's Features</h1>
    <h2 class="header__secondary header__secondary--feature">Harbor decreases your operational burdens, while increasing plan participation and assets. Together, we can scale the markets.</h2>
</main>

<section class="feature flex">
    <div class="flex-col">
        <h3 class="feature__title">
                01 &nbsp; &#9472;<br>
                Completely Mobile <br>
                Experience
            </h3>

            <p class="feature__text">
                Meet Henry, your virtual financial assistant </p>
                <ul class="feature__ul">
                    <li>Fastest onboarding</li>
                    <li>Seamless employee communication</li>
                    <li>On-demand advice</li>
                </ul>
    </div>

    <img src="{{ site.baseurl }}/assets/images/feature_1.png" alt="" class="feature__img feature__img--1">
</section>

<section class="feature flex">
<img src="{{ site.baseurl }}/assets/images/feature_2.png" alt="" class="feature__img feature__img--2">

    <div class="flex-col">
        <h3 class="feature__title">
                02 &nbsp; &#9472;<br>
                Behavioral <br>
                Research
            </h3>

            <p class="feature__text">
                Based in Nobel prize winning <br> behavioral economics </p>

            <ul class="feature__ul">
                <li>Higher participation</li>
                <li>Higher savings rates </li>
                <li>Lower withdrawal amounts</li>
            </ul>
    </div>
</section>

<section class="feature flex">
    <div class="flex-col">
        <h3 class="feature__title">
                03 &nbsp; &#9472;<br>
                Smart <br>
                Workflows
            </h3>

            <p class="feature__text">
                Accuracy leads to less administration</p>

            <ul class="feature__ul">
                <li>Census management</li>
                <li>Eligibility verification </li>
                <li>Easy plan testing</li>
                <li>Payroll review</li>
            </ul>
    </div>
    <img src="{{ site.baseurl }}/assets/images/feature_3.png" alt="" class="feature__img feature__img--3">
</section>
