<!-- features section  -->
<!--<section class="feature-section">-->

  <!--<div class="item">-->
    <!--<h2 class="feature">2 Accounts, One Price</h2>-->
    <!--<div class="seperator yellow"></div>-->
    <!--<p class="feature-details">Retirement is hard. The barriers decrease as we offer both accounts for the same price.</p>-->
  <!--</div>-->

  <!--<div class="item">-->
    <!--<h2 class="feature">Modern Portfolio</h2>-->
    <!--<div class="seperator blue"></div>-->
    <!--<p class="feature-details">No more overpaying for investments. We monitor, update, and pick the best funds for you.</p>-->
  <!--</div>-->

  <!--<div class="item">-->
    <!--<h2 class="feature">Communication</h2>-->
    <!--<div class="seperator green"></div>-->
    <!--<p class="feature-details">We're here for you. 7 days a week, 365 days of the year. Our team and platform are dedicated to demystifying finance and assisting you through any questions.</p>-->
  <!--</div>-->

  <!--<div class="item">-->
    <!--<h2 class="feature">Automation</h2>-->
    <!--<div class="seperator red"></div>-->
    <!--<p class="feature-details">Stop spending your valuable time on bookkeeping and compliance forms. We sync with most payroll providers and complete filings for you.</p>-->
  <!--</div>-->

<!--</section>-->
