<footer class="footer">
    <section class="footer-group">
        <div class="harbor">
            <h1 class="footer__title">Vest</h1>
            <ul>
                <li><a href="https://app.harborhq.com">Get Started</a></li>
                <li><a href="{{ site.baseurl }}/tutorials">Product Tutorial</a></li>
                <li><a href="{{ site.baseurl }}/team/">About Us</a></li>
            </ul>
        </div>

        <div class="harbor">
            <h1 class="footer__title">Legal</h1>
            <ul>
                <li><a href="../assets/pdf/terms.pdf">Terms</a></li>
                <li><a href="../assets/pdf/security.pdf">Security</a></li>
                <li><a href="../assets/pdf/privacy.pdf">Privacy</a></li>

            </ul>
        </div>

        <div class="contact">
            <h1 class="footer__title">Contact</h1>
            <ul>
                <li>Harbor 1452 E 53rd St,<br> 2nd Floor,
                    Chicago, IL 60615</li>
            </ul>
        </div>
    </section>

    <hr class="footer__line">

    <p class="disclaimer">
        <a href="https://vesthq.com/">VestHQ</a>, LLC is an investment adviser registered with the Securities and Exchange Commission. Consider the investment objectives, risks, and charges and expenses of funds recommended by VestHQ carefully before investing. VestHQ does not provide tax, legal or accounting advice.
    </p>

    <p class="copyright">
        Copyright &copy; <span id="js-year"></span> Harbor All Rights Reserved.
    </p>
</footer>



