<footer class="footer footer-bg">
    <section class="footer-group">
        <div class="harbor">
            <ul>
                <li><a href="{{ site.baseurl }}/team/">About</a></li>
                <li><a href="{{ site.baseurl }}/features/">Features</a></li>
                <li><a href="https://harborhq.com">Visit Harbor</a></li>

            </ul>
        </div>

        <div class="harbor">
            <ul>
                <li><a href="{{ site.baseurl }}/assets/pdf/terms.pdf">Terms</a></li>
                <li><a href="{{ site.baseurl }}/assets/pdf/security.pdf">Security</a></li>
                <li><a href="{{ site.baseurl }}/assets/pdf/privacy.pdf">Privacy</a></li>

            </ul>
        </div>

        <div class="contact">
            <ul>
                <li>Harbor <br>1452 E 53rd St, 2nd Floor,<br>
                    Chicago, IL 60615</li>
            </ul>
        </div>
    </section>

    <!-- <hr class="footer__line"> -->

    <p class="disclaimer">
        <a href="https://vesthq.com/">VestHQ</a>, LLC is an investment adviser registered with the Securities and Exchange Commission. Consider the investment objectives, risks, and charges and expenses of funds recommended by VestHQ carefully before investing. VestHQ does not provide tax, legal or accounting advice.
    </p>

    <p class="copyright">
        Copyright &copy; <span id="js-year"></span> Harbor All Rights Reserved.
    </p>
</footer>



