<div class="handbook-container">
    <nav class="handbook-nav">
        <p class="heading-4">Vest</p>
        <ul class="handbook-nav-list">
            <li class="handbook-nav-list__item">Handbook intro</li>
            <li class="handbook-nav-list__item">What we stand for</li>
            <li class="handbook-nav-list__item">What influenced us</li>
            <li class="handbook-nav-list__item">Where we work</li>
            <li class="handbook-nav-list__item">Product histories</li>
            <li class="handbook-nav-list__item">Benefits & Perks</li>
            <li class="handbook-nav-list__item">Getting Started</li>
        </ul>
    </nav>

    <main class="article">
        <h1 class="heading-1">Making a Career</h1>
        <p class="article__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolor, illum libero magni maxime nobis nulla officia unde ut voluptatem. Animi consectetur laborum non officia perferendis possimus reiciendis sequi tempore? Deserunt dolor, illum libero magni maxime nobis nulla officia unde ut voluptatem</p>
        <span class="section-space"></span>


        <h2 class="heading-2">Mastery & Titles</h2>
        <p class="article__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolor, illum libero magni maxime nobis nulla officia unde ut voluptatem. Animi consectetur laborum non officia perferendis possimus reiciendis sequi tempore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci autem blanditiis consequuntur dolorum error eum illo in incidunt laudantium molestias, nesciunt provident quae quaerat quas quos rerum totam ullam voluptas!</p>
        <p class="article__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolor, illum libero magni maxime nobis nulla officia unde ut voluptatem. Animi consectetur laborum non officia perferendis possimus reiciendis sequi tempore. Lorem ipsum dolor sit amet.</p>

        <ul class="article__list">
            <li class="article__list__item">Junior Programmer</li>
            <li class="article__list__item">Programmer</li>
            <li class="article__list__item">Senior Programmer</li>
            <li class="article__list__item">Lead Programmer</li>
        </ul>

        <p class="article__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolor, illum libero magni maxime nobis nulla officia unde ut voluptatem. Animi consectetur laborum non officia perferendis possimus reiciendis sequi tempore. Lorem ipsum dolor sit amet.</p>

        <p class="article__text">Consectetur adipisicing elit. Deserunt dolor, illum libero magni maxime nobis nulla officia unde ut voluptatem. Animi consectetur laborum non officia perferendis possimus reiciendis sequi tempore. Lorem ipsum dolor sit amet. Deserunt dolor, illum libero magni maxime nobis nulla </p>
        <span class="section-space"></span>

        <h2 class="heading-2">Pay & Promotions</h2>
        <p class="article__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolor, illum libero magni maxime nobis nulla officia unde ut voluptatem. Animi consectetur laborum non officia perferendis</p>
        <p class="article__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolor, illum libero magni maxime nobis nulla officia unde ut voluptatem. Animi consectetur laborum non officia perferendis possimus reiciendis sequi tempore. Lorem ipsum dolor sit amet.</p>
        <p class="article__text">Illum libero magni maxime nobis nulla officia unde ut voluptatem. Animi consectetur laborum non officia perferendis possimus reiciendis sequi tempore. Lorem ipsum dolor sit amet.</p>

    </main>
</div>
