<header class="header">
    <div class="header__text-box">
        <h1 class="header__primary">Retirement is now Accessible</h1>
        <h2 class="header__secondary">We combined cutting-edge behavioral economics
                with smart portfolio management for plans that are designed to empower. <br><br>
            Sign up to get the latest updates from Vest
        </h2>


        <form name="contact" class="header__input-box" onsubmit="toggleText()">
            <input name="email" type="email" class="header__input" placeholder="you@email.com" id="email" required>
            <label for="email" class="header__label">Email</label>
            <button id="btn" class="header__input__btn" type="submit">Sign me up!</button>
        </form>
        <span class="shadow-line"></span>
        <script>
            const scriptURL = "https://script.google.com/macros/s/AKfycbzOupp1wWClK_QhVvl40-3S8VQz-SRu_BFWGeQNaWm6XrlQzEI/exec";
            const form = document.forms['contact'];
            form.addEventListener('submit', e => {
                e.preventDefault();
            fetch(scriptURL, { method: 'POST', body: new FormData(form)})
                .then(response => console.log('Success!', response))
            .catch(error => console.error('Error!', error.message))
            });

            const toggleText = () => {
                const button = document.getElementById("btn");
                button.innerText = "Thanks!"
            }
        </script>
    </div>
</header>
