<header class="header">

    <div class="header__text-box">
        <h1 class="heading-primary">
            <span class="heading-primary--main">Retirement is now Accessible</span>
            <span class="heading-primary--sub">We combined cutting-edge behavioral economics
                with smart portfolio management for plans that are designed to empower.</span>
        </h1>

        <input class="header__input" title="signup">
        <button class="header__btn">Sign me up!</button>
    </div>

</header>