<main class="header" data-aos="fade-up" data-aos-easing="ease-out" data-aos-delay="200"  data-aos-duration="1000">

    <h1 class="header__primary" >The Future Of Retirement Is Here!</h1>
    <h2 class="header__secondary">Instant saving. Less hassle. Personalized service.
    </h2>


</main>

<div >
</div>

<div class="explore" data-aos="fade-down" data-aos-easing="ease-in" data-aos-delay="1000"  data-aos-duration="800">
    <p class="explore__text">Explore Below</p>
    <img src="{{site.baseurl}}/assets/images/squiggle.png" alt="squiggle" class="explore__icon">
</div>