<header class="header">

    <div class="block-container">
        <img src="../assets/images/blocks/light-yellow-block.png" alt="" class="block__img block__img--1">
        <img src="../assets/images/blocks/block-stack-light.png" alt="" class="block__img block__img--2">
    </div>

    <h1 class="header__primary">The Future of Retirement has Arrived!</h1>
    <h2 class="header__secondary">Instant everything. Delightful experiences.
    <br>
    Personalized service.
    </h2>

    <div class="block-center-container">
        <img src="../assets/images/blocks/light-blue-block.png" alt="" class="block-center">
    </div>
</header>