<section class="info-container">

    <div class="info-block info-block--about" data-aos="fade-right">
        <h4 class="info-block__title">ABOUT</h4>
        <p class="info-block__text">We love maximizing retirement outcomes. By bringing together our years of experience in behavioral economics, designing enterprise-grade systems, legal and finance expertise, our mission is to increase retirement readiness.</p>
        <a href="#" class="info-block__cta">Learn More ></a>
    </div>

    <div class="info-block info-block--feature" data-aos="fade-left">
            <h4 class="info-block__title">FEATURES</h4>
            <p class="info-block__text">Harbor is changing the way providers interact with their participants. We leverage next generation technologies to increase efficiency of delivering a powerful 401(k) experience.</p>
            <a href="#" class="info-block__cta">Learn More ></a>
        </div>
</section>

<!-- <span class="arrow">&#8250;</span> -->