<section class="info-container">

    <div class="info-block info-block--about">
        <h4 class="info-block__title">ABOUT</h4>
        <p class="info-block__text">We love maximizing retirement outcomes. By bringing together our years of experience in behavioral economics, designing enterprise-grade systems, legal and finance expertise.</p>
    </div>

    <div class="info-block info-block--feature">
            <h4 class="info-block__title">FEATURE</h4>
            <p class="info-block__text">Harbor is changing the way providers interact with their participants. We leverage next generation technologies to increase efficiency of delivering a powerful 401(k) experience.</p>
        </div>
</section>