<section class="info-container">

    <div class="info-block info-block--about" data-aos="fade-right">
        <h4 class="info-block__title">ABOUT</h4>
        <p class="info-block__text">Our mission is to maximize retirement outcomes. To achieve this, we bring together our years of experience in behavioral economics, our legal and financial expertise, and our passion for designing enterprise-grade systems.</p>
<!--        <a href="#" class="info-block__cta">Learn More ></a>-->
    </div>

    <div class="info-block info-block--feature" data-aos="fade-left">
            <h4 class="info-block__title">FEATURES</h4>
            <p class="info-block__text">Harbor is changing the way providers interact with their participants. We leverage next-generation technologies to deliver a powerful and efficient 401(k) experience.</p>
<!--            <a href="#" class="info-block__cta">Learn More ></a>-->
        </div>
</section>

<!-- <span class="arrow">&#8250;</span> -->