<!-- Meta Matter-->
<title>{{site.title}}</title>
<meta name="description" content="{{site.description}}">
<meta name="keywords" content="{{site.keywords}}">
<link rel="shortcut icon" type="image/jpg" href="/assets/images/favicon.png" />
<meta charset="character_set">
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" media="screen" title="CSS">
<meta name="google-site-verification" content="3TMNrln3e_YxgDNI896r5_k4mZ9lnvyZ69oxvnMuuBc" />
