<!-- Meta Matter-->
<title>{{site.title}}</title>
<meta name="description" content="{{site.description}}">
<meta name="keywords" content="{{site.keywords}}">
<link rel="shortcut icon" type="image/ico" href="/assets/images/favicon.png" />
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
{{ if layout == "default" }}
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" media="screen" title="CSS" charset="utf-8">
{{ endif }}
<!-- Verification Codes -->
<meta name="google-site-verification" content="3TMNrln3e_YxgDNI896r5_k4mZ9lnvyZ69oxvnMuuBc" />
