<h4 class="module-header">Modules</h4>

<section class="modules-container">
    
    <div class="module">
        <img src="{{site.baseurl}}/assets/images/piggy_bank.png" alt="" class="module__img">
        <h5 class="module__title">Portfolio <br> Management</h5>
        <p class="module__text">Decrease your fiduciary liabilities by choosing the best ETFs</p>
    </div>

    <div class="module">
            <img src="{{site.baseurl}}/assets/images/white_labeling.png" alt="" class="module__img">
            <h5 class="module__title">White <br> Labeling</h5>
            <p class="module__text">Include the name of your financial adviser, accountant or other rather</p>
    </div>

    <div class="module">
            <img src="{{site.baseurl}}/assets/images/Analytics_Icon.png" alt="" class="module__img">
            <h5 class="module__title">Analytics</h5>
            <p class="module__text">Get actionable data so you can improve the efficacy of your plans</p>
    </div>
</section>