<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script>
    // <!-- Google Analytics -->
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview', {
        'page': '{{ site.baseurl }}{{ page.url }}',
        'title': '{{ page.title | replace: "'", "\\'" }}'
    });

    // <!-- Slack presence -->
    const url = "https://app.harborhq.com/slack_presence/";
    const memberIDs = ["U2LBEUZC3", "U5LA2KATX", "U7B7X86AF", "U8MQ4L0R0", "U90BBNSNN", "U97UY5M3J", "UAKEWKP9A", "UASE60N5R", "UB3UNC4TB", "UB9FKE6NA"]

    $.get(url, function(response, status){
        if(status == 'success'){
            for (var memberID of memberIDs){
                var presence = response[memberID]
                presence == 'active' ? $('#' + memberID).css({"color": "green"}) : $('#' + memberID).css({"color": "red"});
            }
        }
    });

</script>

