

<link rel="stylesheet" href="../_sass/1-base/mixins.scss">
<script async>
    //////////// HEADROOM navbar hide on scroll down and show on scroll up //////


    // if scrolled to element --do something function
    // $(document).on('scroll', function() {
    //     if($(this).scrollTop()>=$('.section-width').position().top){
    //         alert("meow");
    //     }
    // });

    // $(window).scroll(function() {
    //     if ($(this).scrollTop() >= 300) {
    //         $('.explore').delete();
    //         // alert($('.explore').style.css.opacity);
    //     }
    // });


    // $(".nav").headroom();
    const nav = document.querySelector("nav");
    const headroom  = new Headroom(nav);
    headroom.init();

    // <!-- Google Analytics -->
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview', {
        'page': '{{ site.baseurl }}{{ page.url }}',
        'title': '{{ page.title | replace: "'", "\\'" }}'
    });

    // <!-- Slack presence -->
    const url = "https://app.harborhq.com/slack_presence/";
    const memberIDs = ["U2LBEUZC3", "U5LA2KATX", "U7B7X86AF", "U8MQ4L0R0", "U90BBNSNN", "U97UY5M3J", "UAKEWKP9A", "UASE60N5R", "UB3UNC4TB", "UB9FKE6NA", "UE1UMC692", "UDSS7677S", "UE1L5AVFD"];

    $.get(url, function(response, status){
        if(status == 'success'){
            for (var memberID of memberIDs){
                var presence = response[memberID]
                presence == 'active' ? $('#' + memberID).css({"color": "green"}) : $('#' + memberID).css({"color": "#102A5E"});
            }
        }
    });

    const d = new Date();
    const year = d.getFullYear();
    document.getElementById('js-year').innerText = year;

    // slow down video speed
    // document.querySelector('video').playbackRate = 0.3;

    AOS.init();

    // const block1 = document.getElementsByClassName('block--1');
    // console.log(block1)


    // const navigation = document.getElementsByClassName('headroom');

    // const changingText = document.getElementsByClassName('header-retirement');

    // window.onscroll = function () {
    //     if(changingText[0]) {
    //
    //     }
    // };

    // const lastText = $("previousTextUnstick");
    // const retirementText = $("retirementText");


    // range = document.createRange();
    // range.selectNode(document.getElementById("previousTextUnstick"));
    // bool = range.isPointInRange(document.getElementById("retirementText"));
    // console.log(bool)

    // var isColliding = function( $div1, $div2 ) {
    // 	// Div 1 data
    // 	var d1_offset             = $div1.offset();
    // 	var d1_height             = $div1.outerHeight( true );
    // 	var d1_width              = $div1.outerWidth( true );
    // 	var d1_distance_from_top  = d1_offset.top + d1_height;
    // 	var d1_distance_from_left = d1_offset.left + d1_width;
    //
    // 	// Div 2 data
    // 	var d2_offset             = $div2.offset();
    // 	var d2_height             = $div2.outerHeight( true );
    // 	var d2_width              = $div2.outerWidth( true );
    // 	var d2_distance_from_top  = d2_offset.top + d2_height;
    // 	var d2_distance_from_left = d2_offset.left + d2_width;
    //
    // 	var not_colliding = ( d1_distance_from_top < d2_offset.top || d1_offset.top > d2_distance_from_top || d1_distance_from_left < d2_offset.left || d1_offset.left > d2_distance_from_left );
    //
    // 	// Return whether it IS colliding
    // 	return ! not_colliding;
    // };
    // console.log(lastText)
    // isColliding(retirementText, lastText)

    // $(window).scroll(function(e){
    //     var $el = $('.fixedElement');
    //     var isPositionFixed = ($el.css('position') === 'fixed');
    //     if ($(this).scrollTop() > 200 && !isPositionFixed){
    //         $el.css({'position': 'fixed', 'top': '0px'});
    //     }
    //     if ($(this).scrollTop() < 200 && isPositionFixed){
    //         $el.css({'position': 'static', 'top': '0px'});
    //     }
    // });

    // $(".block-section--end").stick_in_parent();

    //stop retirementText from being sticky 100px above 3rd block-section__text

    // if retirementText is w/in



</script>

