<section class="feature">
    <div class="feature-content" style="z-index: 7;">
        <h3 class="feature__text"><span class="highlight highlight--4">Harbor</span> connects all of this together. Our platform has the power to seamlessly and intelligently connect up banking apps and financial products and services, to create new finance experiences for everyone. The result is higher participation rates, higher savings rates, and referral rates.</h3>
    </div>

    <img src="{{ site.baseurl }}/assets/images/blocks/block-harbor.png" alt="" class="block block--4" data-aos="zoom-in" data-aos-offset="600">
</section>