<section id="social">
  <h2>For our most adventurous fans, join our <a target="_blank" class="description" href="http://tinyletter.com/vest">beta list</a>, and for something lighter, follow our journey on popular networks.</h2>
  <article class="icons">
    <a target="_blank" class="icons" href="https://medium.com/voyage-into-fintech"><img src="/assets/img/medium-with-circle.svg" alt="medium" /></a>
    <a target="_blank" class="icons" href="https://twitter.com/thisisvest"><img src="/assets/img/twitter-with-circle.svg" alt="twitter" /></a>
    <a target="_blank" class="icons" href="http://www.vesthq.com/feed.xml"><img src="/assets/img/rss.svg" alt="rss" /></a>
  </article>
</section>
