<section class="team">
    <h1 class="team__heading">
        Our Team
    </h1>

    <p class="team__secondary">
        The 401(k) industry is archaic and expensive. That is why we have brought together a diverse team of professionals who are passionate about maximizing retirement outcomes. Our goal is to leverage technology, behavioral fiance, and design so we can make it easy for businesses to help their employees save.
       <br><br>
            If you'd like to join us, please check out our <a href="https://goo.gl/hMG4K5" class="team__link">job board.</a>
    </p>

</section>