<section class="employees-container">
    <div class="avatar">
        <img src="../assets/images/avatars/anuraag.png" alt="Anuraag CEO" class="avatar__img">
        <div class="avatar__content">
            <a href="http://atripathi.com/" target="_blank">Anuraag</a>
            <i id="U2LBEUZC3" class="fas fa-dot-circle"></i>
            <p>CEO</p>
        </div>
    </div>

    <div class="avatar">
        <img src="../assets/images/avatars/ginanni2.png" alt="Gianni Developer" class="avatar__img">
        <div class="avatar__content">
            <a href="https://www.linkedin.com/in/gianni-chen-33b13646/" target="_blank">Ginanni</a>
            <i id="U5LA2KATX" class="fas fa-dot-circle"></i>
            <p>Developer</p>
        </div>
    </div>

    <div class="avatar">
        <img src="../assets/images/avatars/rick.png" alt="Rick Legal" class="avatar__img">
        <div class="avatar__content">
            <a href="https://www.linkedin.com/in/rick-f-yeh/" target="_blank">Rick</a>
            <i id="U7B7X86AF" class="fas fa-dot-circle"></i>
            <p>Legal</p>
        </div>
    </div>

    <div class="avatar">
        <img src="../assets/images/avatars/sierra.png" alt="Sierra Moore" class="avatar__img">
        <div class="avatar__content">
            <a href="https://sierramoore.com/" target="_blank">Sierra</a>
            <i id="UAKEWKP9A" class="fas fa-dot-circle"></i>
            <p>Developer</p>
        </div>
    </div>

    <div class="avatar">
        <img src="../assets/images/avatars/pranay2.png" alt="Pranay" class="avatar__img md-mg-left">
        <div class="avatar__content">
            <a href="https://github.com/pranaymarella/" target="_blank">Pranay</a>
            <i id="UB3UNC4TB" class="fas fa-dot-circle"></i>
            <p>Developer</p>
        </div>
    </div>

    <div class="avatar">
        <img src="../assets/images/avatars/philip.png" alt="Philip" class="avatar__img sm-mg-left">
        <div class="avatar__content">
            <a href="https://github.com/phil7394" target="_blank">Philip</a>
            <i id="UASE60N5R" class="fas fa-dot-circle"></i>
            <p>Developer</p>
        </div>
    </div>

    <div class="avatar">
        <img src="../assets/images/avatars/sanjina2.png" alt="Sanjana" class="avatar__img md-mg-left">
        <div class="avatar__content">
            <a href="https://thophles.github.io/SANJANAMEHRA/index.html" target="_blank">Sanjana</a>
            <i id="UE1UMC692" class="fas fa-dot-circle"></i>
            <p>Designer</p>
        </div>
    </div>

    <div class="avatar">
        <img src="../assets/images/avatars/jack.png" alt="Jack" class="avatar__img sm-mg-left">
        <div class="avatar__content">
            <a href="https://www.linkedin.com/in/jack-schwab-305607146/" target="_blank">Jack</a>
            <i id="UDSS7677S" class="fas fa-dot-circle"></i>
            <p>Finance</p>
        </div>
    </div>

    <div class="avatar">
        <img src="../assets/images/avatars/mac.png" alt="Mac" class="avatar__img md-mg-left">
        <div class="avatar__content">
            <a href="http://macattack.design/" target="_blank">Mac</a>
            <i id="UE1L5AVFD" class="fas fa-dot-circle"></i>
            <p>Designer</p>
        </div>
    </div>
</section>
