<div class="nav">
    <a href="https://vesthq.com/"><img src="../assets/images/vestlogo-colors.png" alt="vest logo" class="nav__logo"></a>
    <a class="typeform-share button nav__contact"  href="https://sierramoore.typeform.com/to/if9Lis" data-mode="drawer_left"  target="_blank">Contact Us</a>
    <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
</div>


    <div class="shadow-line"></div>
