<!-- title -->
    <div class="nav nav-box">
        <span class="nav__logo">Vest</span><span class="nav__logo--sub">HQ</span>
        <a class="nav__contact">contact us</a>
    </div>






<!--<div id="tagline">-->
  <!--<article class="rw-wrapper">-->
    <!--<h2 class="rw-sentence">-->
      <!--<span>  Vest started by eliminating 50+ areas of waste in 401(k) and Roth plans.-->
      <!--<br>-->
      <!--Then we combined cutting-edge behavioral economics with smart portfolio management for plans that are designed to</span>-->
    	<!--<div class="rw-words rw-words-1">-->
    		<!--<span>empower.</span>-->
    		<!--<span>excite.</span>-->
    		<!--<span>scale.</span>-->
    		<!--<span>educate.</span>-->
    		<!--<span>use.</span>-->
    		<!--<span>enjoy.</span>-->
    	<!--</div>-->
      <!--&lt;!&ndash; <br> &ndash;&gt;-->
      <!--&lt;!&ndash; <span>Put us to work!</span> &ndash;&gt;-->
    <!--</h2>-->
  <!--</article>-->
<!--</div>-->
