<!-- title -->
  <h1 id="logo">
    <span>Vest</span><span>HQ</span>
  </h1>

<h1 id="title">
  Retirement is now Accesible.
</h1>

<div id="tagline">
  <article class="rw-wrapper">
    <h2 class="rw-sentence">
      <span>  Vest started by eliminating 50+ areas of waste in 401(k) and Roth plans.
      <br>
      Then we combined cutting-edge behavioral economics with smart portfolio managment for plans that are design to</span>
    	<div class="rw-words rw-words-1">
    		<span>empower.</span>
    		<span>excite.</span>
    		<span>scale.</span>
    		<span>educate.</span>
    		<span>use.</span>
    		<span>enjoy.</span>
    	</div>
      <br>
      <!-- <span>Put us to work!</span> -->
    </h2>
  </article>
</div>
