.block-wrapper {
  position: relative;
  //width: 110rem;
  //margin: 0 auto 15% auto;
}

.block-section {
  font-family: $inter-bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 90%;
  max-width: 110rem;
  margin: 0 auto;

  position: relative;
  z-index: -2;

  margin-bottom: 5rem;

  @include respond(mid-phone){
    width: 100%;
  }

  &--yellow {
    @extend .block-section;
    max-height: 40rem;
    height: auto;
    //display: block;
    background: $yellow;
    //background: linear-gradient(to left, #fff 10%,#fff 10%,#fff 10%,$yellow 10%,$yellow 10%);
    z-index: 15;
    //position: sticky;
  }

  @include respond(ipad) {
    margin-bottom: 10%;
    min-width: 100vw;
  }
  @include respond(phone) {
    margin-bottom: 0;
  }

  &__text {
    font-family: $inter-regular;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.5;
    z-index: -1;
    background: $bg-color;
    width: 85%;


    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;

    &--yellow {
      background: $yellow;
      //width: 25rem;

      @include respond(m-phone) {
        //min-width: 22rem;
      }
    }

    position: static !important;

    @include respond(l-phone) {
      font-size: 2rem;
    }
    @include respond(phone) {
      font-size: 1.8rem;
    }
    @include respond(m-phone) {
      font-size: 1.4rem;
    }
  }
}

.block-content {
  //width: 45%;
  margin: 0 $text-margin-left;
  max-width: 50rem;
  height: 90%;

  //position: static !important;
  //position: sticky;
  z-index: -1;

  @include respond(phone) {
    margin: 0 1rem 0 7%;
  }
}
.sticky {
  position: sticky;
  top: 0;
}

.highlight {
  padding: 1px 3px;

  &--1{
    background: $bg-top;
  }
  &--2 {
    background: $blue-mid-3;
  }
  &--3 {
    background: $yellow;
  }
}

.block {
  width: 35rem;
  height: auto;
  //margin: 15% auto;
  margin: 2rem;

  //position: sticky;
  //top: -300px;
  //z-index: 13;

  position: relative;

  & > * {

  }

  &--1 {
    //z-index: 10;
    //margin-bottom: 8%;
  }
  &--2 {
    //z-index: 9;
    //top: 8rem;
    //margin-bottom: 8%;
  }
  &--3 {
    //z-index: 7;
    //top: 28rem;
    //margin-bottom: 8%;
  }
  &--4 {

  }

  @include respond(ipad) {
    width: 30rem;
  }
  @include respond(l-phone) {
    width: 25rem;
  }
  @include respond(phone) {
    width: 17rem;
  }
  @include respond(m-phone) {
    font-size: 15rem;
    width: 12rem;
  }
}









