.feature {
  //display: grid;
  //grid-auto-columns: minmax(min-content, 1fr) minmax(min-content, 1fr);
  width: 100vw;
  max-width: $max-page-width;
  margin: 8% auto;

  &__title {
    color: $dark-blue;
    font-family: $inter-bold;
    font-size: 3.6rem;
    margin-bottom: 2rem;

    @include respond(phone) {
      font-size: 2.5rem;
      margin-bottom: 3rem;
    }
    @include respond(mid-phone) {
      font-size: 2.2rem;
    }
  }
  &__text {
    font-size: 2.4rem;
    margin-bottom: 1rem;

    @include respond(l-phone) {
      font-size: 2rem;
    }
    @include respond(phone) {
      font-size: 1.8rem;
    }
    @include respond(m-phone) {
      font-size: 1.6rem;
    }
  }
  &__ul {
    @extend .feature__text;
    list-style-type: none;

    li {
      &::before{
        content: "\25A0";
        color: $dark-blue;
        display: inline-block;
        width: 1rem;
        height: 1rem;
        margin-right: 1rem;
      }
    }

  }
  &__img {
    //max-width: 35rem;
    height: auto;
    //max-height: 40rem;

    &--1 {
      width: 42rem;

      @include respond(ipad) {
        width: 30rem;
      }
    }

    &--2 {
      width: 51rem;

      @include respond(ipad) {
        width: 37rem;
      }
      @include respond(phone) {
        order: 1;
        width: 35rem;
      }
      @include respond(m-phone) {
        width: 30rem;
      }
    }
    &--3 {
      width: 50rem;
      @include respond(ipad) {
        width: 35rem;
      }
      @include respond(phone) {
        width: 35rem;
      }
      @include respond(m-phone) {
        width: 30rem;
      }
    }
  }
}