.feature {
  font-family: $inter-bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 33rem;

  //position: sticky;
  //top: 0;


  margin-bottom: 15%;

  &__text {
    font-family: $inter-light;
    font-weight: 400;
    font-size: 2.4rem;
    //min-width: 30rem;
    //width: 45%;
    //margin: 0 10%;
    line-height: 1.4;
    z-index: -1;
    background: #fff;

    position: static !important;
  }
}

.feature-content {
  width: 45%;
  margin: 0 10%;
  min-width: 30rem;

  //position: static !important;
  //position: sticky;
  top: auto;
  z-index: -1;
}
.sticky {
  position: sticky;
  top: 0;
}

.highlight {
  padding: 2px 3px;

  &--1{
    background: $blue-mid-2;
  }
  &--2 {
    background: $blue-mid-3;
  }
  &--3 {
    background: $yellow;
  }
  &--4 {
    background: $dark-blue;
    color: #fff;
    padding: 3px 4px;
  }
}

.block {
  width: auto;
  height: 30rem;
  margin: 2rem;

  position: relative;

  &--1 {
    z-index: 10;
  }
  &--2 {
    z-index: 9;
    top: 9rem;
    width: 45rem;
  }
  &--3 {
    top: 28rem;
    width: 50rem;
  }
  &--4 {
    z-index: 8;
    top: 1.5rem;
    right: .7rem;
    width: 54rem;
  }
}


