.info-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 45rem;
  color: $dark-blue;
  margin-bottom: 15rem;

  @include respond(l-phone){
    margin-bottom: 24rem;
  }
  @include respond(phone){
    align-items: center;
  }


  .info-block {
    background-color: $blue-mid-2;
    width: 30rem;
    height: 27rem;
    padding: 4rem 2rem;
    margin: 3rem;

    position: relative;

    @include respond(phone){
      height: 24rem;
    }

    &--about {
      align-self: flex-end;
      margin-right: 13%;

      @include respond(m-phone){
        margin: 0 auto 3rem auto;
      }
    }
    &--feature {
      align-self: flex-start;

      @include respond(m-phone){
        margin: 0 auto;
      }
    }

    &__title {
      font-family: $inter-bold;
      margin-bottom: 2rem;
      font-size: 1.8rem;
      text-align: center;
    }
    &__text {
      font-family: $inter-regular;
      font-size: 1.4rem;
    }

    &::before {
      content: '';
      background-color: $blue-mid-3;
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      right: 1.5rem;
      top: -1.5rem;
      z-index: -1;
      transition: all 200ms ease 0s;
    }
    &:hover::before {
      right: 0;
      top: 0;
    }
  }
}