<!DOCTYPE html>
<html lang="en">
<head>
  {% include meta.html %}
</head>
<body>
   <div class="full-screen--features">
         {% include nav.html %}
         <main class="header u-feature-width" data-aos="fade-up" data-aos-easing="ease-out" data-aos-delay="200"  data-aos-duration="1000">
             <h1 class="header__primary">Harbor's Features</h1>
             <h2 class="header__secondary header__secondary--feature">Harbor decreases your operational burdens, while increasing plan participation and assets. Together, we can scale the markets.</h2>
         </main>
       <div class="explore" data-aos="fade-down" data-aos-easing="ease-in" data-aos-delay="1000"  data-aos-duration="800">
           <p class="explore__text">Explore Below</p>
           <img src="{{site.baseurl}}/assets/images/squiggle.png" alt="squiggle" class="explore__icon">
       </div>
   </div>
  {% include features.html %}
  {% include modules.html %}
  {% include footer.html %}

  {% include scripts.html %}
</body>
</html>