<!DOCTYPE html>
<html lang="en">
<head>
    {% include meta.html %}
</head>
<body style="background-color: #3F5A9E; z-index: -100;">
<section class="home-container">
    {% include test-home.html %}

    <div class="nav">
        <a href="https://vesthq.com/"><img src="../assets/images/vestlogo-white.png" alt="vest logo" class="nav__logo lg-logo"></a>

        <a href="{{ site.baseurl }}/team" class="nav__team color-white">Our Team</a>

        <a class="typeform-share button nav__contact color-white border-white"  href="https://sierramoore.typeform.com/to/if9Lis" data-mode="drawer_left"  target="_blank">Contact Us</a>
        <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>

    </div>

    <div class="flex-container">
        <header class="header color-white">
            <div class="header__text-box">
                <h1 class="header__primary">Retirement is now Accessible</h1>
                <div class="header__secondary">We combined cutting-edge behavioral economics
                    with smart portfolio management for plans that are designed to
                    <div class="rw-words color-white">
                        <span>empower.</span>
                        <span>excite.</span>
                        <span>scale.</span>
                        <span>educate.</span>
                        <span>use.</span>
                        <span>enjoy.</span>
                    </div>
                </div>
                <h2 class="header__secondary">Sign up to get our latest updates:</h2>


                <form name="contact" class="header__input-box" onsubmit="toggleText()">
                    <input name="email" type="email" class="header__input" placeholder="hello@vesthq.com" id="email" required>
                    <label for="email" class="header__label">Email</label>
                    <button id="btn" class="header__input__btn" type="submit">Sign me up!</button>
                </form>
                <span class="shadow-line"></span>
                <script async>
                    const scriptURL = "https://script.google.com/macros/s/AKfycbzOupp1wWClK_QhVvl40-3S8VQz-SRu_BFWGeQNaWm6XrlQzEI/exec";
                    const form = document.forms['contact'];
                    form.addEventListener('submit', e => {
                        e.preventDefault();
                        fetch(scriptURL, { method: 'POST', body: new FormData(form)})
                            .then(response => console.log('Success!', response))
                            .catch(error => console.error('Error!', error.message))
                    });

                    const toggleText = () => {
                        const button = document.getElementById("btn");
                        button.innerText = "Thanks!"
                    }
                </script>
            </div>
        </header>
    </div>

    <div class="card-container">
        {% include cards.html %}
    </div>
    <div class="copyright no-mg-btm pg-btm">
        &copy; Vest, Inc. 2018
        <br>
        VestHQ, LLC is an investment advisor registered with the Securities and Exchange Commission. Consider the investment objectives, risks, and charges and expenses of funds recommended by VestHQ carefully before investing.  VestHQ does not provide tax, legal or accounting advice.
    </div>
</section>
{% include scripts.html %}
</body>
</html>
