<!DOCTYPE html>
<html lang="en">
<head>
    {% include meta.html %}
</head>
<body>
<section class="home-container">
    {% include test-home.html %}
    {% include title.html %}
    <div class="flex-container">
        {% include header.html %}
    </div>

    <div class="card-container">
        {% include cards.html %}
    </div>
    <div class="copyright" style="color: #102A5E;">
        &copy; Vest, Inc. 2018
        <br>
        VestHQ, LLC is an investment advisor registered with the Securities and Exchange Commission. Consider the investment objectives, risks, and charges and expenses of funds recommended by VestHQ carefully before investing.  VestHQ does not provide tax, legal or accounting advice.
    </div>
</section>
{% include scripts.html %}
</body>
</html>
